/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
############ Colors ################
**/

$cyan: #61dafb;

$white : #fff;
$black-space: #141414;
$black : #000;

$grey-dark:#282c34;
